{% extends 'base.html' %}

{% block content %}
    <h1>New Product</h1>
    <form action="{{ url_for('main.new_product') }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.image.label }}<br>
            {{ form.image() }}
            {% if form.image.errors %}
                <ul>
                    {% for error in form.image.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name() }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description() }}
        </p>
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity() }}
        <p>
            {{ form.price.label }}<br>
            {{ form.price() }}
        </p>
        <p>
            {{ form.category.label }}<br>
            {{ form.category() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}